

table {
  color: white;
}


.staking-form {
  background-color:  white;
  padding: 1.5rem;
  border: 1px solid white;
  border-radius: 1px;
  margin: 5px;
}

.user-info {
  margin-top: 35px;
  margin-bottom: 35px;
}

.stake {
  margin-bottom: 10px;
  .btn-bottom {
    padding: 5px;
  }
}

mat-form-field {
  background-color: #fff;
}

button {
  margin-right: 5px;
}
