<div class="container">
  <div class="row" style="margin-top: 35px;">
    <div class="col-md-6">
      <h1>Aalto</h1>
    </div>
    <div class="col-md-6">

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h5>Stake</h5>
    </div>
    <div class="col-md-12">
      <app-staking-form></app-staking-form>
    </div>
  </div>

  <div class="row" style="margin-top: 35px;">
    <div class="col-md-12">
      <div class="row" >
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Native LP</th>
                <th>Stable LP</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ aalto.data?.nativeLiquidityPairAddress }}</td>
                <td>{{ aalto.data?.stableLiquidityPairAddress }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" *ngFor="let user of users" style="margin-top: 25px;">
        <div class="col-md-12">
          <!-- <h4>{{ user.name }}</h4> -->
          <p class="bold">
            {{ user.name }} - Wallet Balance: {{ user.balance }}
          </p>
        </div>

        <div class="col-md-12">
          <h6>
            Locked Balances:
          </h6>
        </div>

        <div class="col-md-6" *ngFor="let lock of user.lockedBalances">
          <p>
            Locked Balance:
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

