.presale {
  color: white;
  padding: 2rem;
}

.card {
  margin: 25px;
}

p {
  margin: 0px;
}


.col-md-12 {
  margin-bottom: 8px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
