
<div class="presale row">
  <div class="col-md-12 clearfix">
    <!-- <span class="aalto-count">

    </span> -->
    <!-- <button
      mat-raised-button
      color="primary"
      class="float-right"
      (click)="presale.finalWithdraw()">
      Final Withdraw
    </button>
    <button
      mat-raised-button
      color="primary"
      class="float-right"
      (click)="presale.endSale()">
      End Sale
    </button>
    <button
      mat-raised-button
      color="primary"
      class="float-right"
      (click)="presale.startSale()">
      Start Sale
    </button> -->

    <button
      mat-raised-button
      color="primary"
      class="float-right">
      Final Withdraw
    </button>
    <button
      mat-raised-button
      color="primary"
      class="float-right">
      End Sale
    </button>
    <button
      mat-raised-button
      color="primary"
      class="float-right">
      Start Sale
    </button>
  </div>
  <div class="col-md-12" *ngFor="let pool of presale?.pools">
    <div class="card">
      <div class="card-body clearfix" style="color: black;">
        <h5 class="card-title">{{ pool.name }} {{ pool.hasWhitelist ? '(Whitelist)' : '' }}</h5>
       <div class="row" style="margin: 15px;">
        <div class="col-md-6">
          <!-- <p>*amount of tokens offered for the pool (in offeringTokens)</p> -->
          Aalto Offering Amount: {{ pool.offeringAmountPool }}
        </div>
        <div class="col-md-6">
          <!-- <p>*total amount pool deposited (in LP tokens)</p> -->
          Current Total Deposits: {{ pool.totalAmountPool }}
        </div>
        <div class="col-md-6">
          <!-- <p>*amount of tokens raised for the pool (in LP tokens)</p> -->
          Raising Amount: {{ pool.raisingAmountPool }}
        </div>
        <div class="col-md-6">
          <!-- <p>*limit of tokens per user (if 0, it is ignored)</p> -->
          Deposit Limit (Per Wallet): {{ pool.limitPerUserInLP }}
        </div>

       </div>
       <button
        mat-raised-button
        color="primary"
        (click)="setDeposit(pool)">
          Claim
        </button>
        <button
          mat-raised-button
          color="primary"
          class="float-right"
          [disabled]="pool.isStopDeposit"
          (click)="setDeposit(pool)">
        Deposit</button>
      </div>
    </div>
  </div>
</div>

