.presale {
  color: white;
  padding: 2rem;
}

.card {
  margin: 25px;
}

p {
  margin: 0px;
}

button {
  margin-right: 5px;
}

.col-md-6 {
  margin-bottom: 8px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}


.aalto-count {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
}
